<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.whzzone.mapper.system.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gitee.whzzone.pojo.entity.system.Menu">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="icon" property="icon"/>
        <result column="enabled" property="enabled"/>
        <result column="menu_type" property="menuType"/>
        <result column="permission" property="permission"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        parent_id,
        sort,
        path,
        disabled,
        component,
        icon,
        menu_type,
        name,
        permission,
        description,
        create_time,
        create_by,
        update_time,
        update_by,
        deleted
    </sql>
    <select id="findPermitByUserId" resultType="java.lang.String">
        SELECT
            sp.permission
        FROM
            sys_menu sp
                LEFT JOIN sys_role_menu srp ON sp.id = srp.menu_id
                LEFT JOIN sys_user_role sur ON sur.role_id = srp.role_id
        WHERE
            sur.user_id = #{userId}

          AND ( permission IS NOT NULL OR permission != '' )
          AND srp.deleted = FALSE
          AND sur.deleted = FALSE
          AND sp.deleted = FALSE
    </select>
    <select id="getRoutes" resultType="com.gitee.whzzone.pojo.entity.system.Menu">
        SELECT
            sm.id,
            sm.path,
            sm.permission,
            sm.component,
            sm.name
        FROM
            sys_menu sm
                LEFT JOIN sys_role_menu srp ON sm.id = srp.menu_id
                LEFT JOIN sys_user_role sur ON sur.role_id = srp.role_id
        WHERE
            sur.user_id = #{userId}
            AND sm.menu_type = #{code}
    </select>
    <select id="findByUserId" resultType="com.gitee.whzzone.pojo.entity.system.Menu">
        SELECT DISTINCT (sm.id) as id,
               sm.parent_id,
               sm.path,
               sm.permission,
               sm.component,
               sm.name,
               sm.icon,
               sm.menu_type,
               sm.sort,
               sm.keep_alive,
               sm.in_frame,
               sm.is_url,
               sm.route_name
        FROM sys_menu sm
                 LEFT JOIN sys_role_menu srp ON sm.id = srp.menu_id
                 LEFT JOIN sys_user_role sur ON sur.role_id = srp.role_id
        WHERE sur.user_id = #{userId}
          AND sm.enabled = true
          AND sm.deleted = false
          AND srp.deleted = FALSE
        ORDER BY sm.sort
    </select>

</mapper>
