<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.whzzone.admin.mapper.system.RequestLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gitee.whzzone.admin.pojo.entity.system.RequestLog">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="deleted" property="deleted" />
        <result column="code" property="code" />
        <result column="user_id" property="userId" />
        <result column="url" property="url" />
        <result column="desc" property="desc" />
        <result column="type" property="type" />
        <result column="method" property="method" />
        <result column="ip" property="ip" />
        <result column="params" property="params" />
        <result column="duration" property="duration" />
        <result column="result" property="result" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        create_by,
        update_time,
        update_by,
        deleted,
        `code`,
        user_id,
        url,
        `desc`,
        `type`,
        method,
        ip,
        params,
        duration,
        result
    </sql>

</mapper>
