<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.securitytest.mapper.DeptMapper">

    <select id="getThisAndChildIds" resultType="java.lang.Long">
        WITH RECURSIVE cte AS (
            SELECT
                a.id
            FROM
                sys_dept a
            WHERE
                a.id = #{id} UNION ALL
            SELECT
                k.id
            FROM
                sys_dept k
                    INNER JOIN cte c ON c.id = k.parent_id
            WHERE
                k.deleted = 0
        ) SELECT
            id
        FROM
            cte;

    </select>
</mapper>
