<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.securitytest.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.securitytest.pojo.entity.Role">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="disabled" property="enabled"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="deleted" property="deleted" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, code, enabled, description, create_time, create_by, update_time, update_by, deleted
    </sql>

    <select id="findByUserId" resultType="com.example.securitytest.pojo.entity.Role">
        select
            sr.*
        from sys_role sr
                 left join sys_user_role sur on sr.id = sur.role_id
                 left join sys_user su on sur.user_id = su.id
        where
            sr.deleted = false
            and sr.enabled = true
            and user_id = #{userId}
    </select>

</mapper>
